################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/AgvJson/bin/Debug
/AgvJson/obj/Debug
/AgvJson/obj/Debug
/AgvJson/obj/Debug/AgvJson.pdb
/AgvJson/obj/Debug/AgvJson.exe
/AgvJson/obj/Debug/AgvJson.csprojResolveAssemblyReference.cache
/AgvJson/obj/Debug/AgvJson.csproj.FileListAbsolute.txt
/AgvJson/obj/Debug
/AgvJson/obj/Debug
